.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.levelTracker{
  font-family: 'Permanent Marker', cursive;
  color: rgb(152, 84, 1);

}


.App-header {
  background-color:rgb(245, 188, 127);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(254, 152, 75);
}

.App-link {
  color: #09d3ac;
}

.unit {
  box-shadow: 5px 10px 10px #888888;
  border-radius: 5px;
}